APP_ENV="development"
APP_NAME="pixelbay-auth-webservice"
APP_URL="http://127.0.0.1:7171"
APP_PORT="7171"

JWT_SECRET=""
JWT_EXPIRATION=""

DB_HOST=""
DB_PORT=""
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""
DB_SSL_CA=""
DB_SSL_CERT=""
DB_SSL_KEY=""

#DATABASE_URL="postgres://postgres.jalbbvzvgjaizzepzqiu:pb_DB_sb=0702@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
